/* Header space for traffics buttons */
ytd-masthead#masthead {
	-webkit-app-region: drag; /* Drag and drop the windows around your Desktop*/
	padding-top: 12px !important;
}
div#guide-spacer,
ytd-page-manager#page-manager {
	margin-top: 68px !important;
}

/* Ads */
div#masthead-ad,
.ytp-ad-progress,
.video-ads.ytp-ad-module {
	display: none !important;
}

.fullVideo ytd-page-manager#page-manager {
	margin: 0 !important;
}
.fullVideo #masthead-container {
	top: -68px;
	transition: 200ms;
	background: rgb(40, 40, 40) !important;
}
.fullVideo div#player-theater-container {
	height: 100vh !important;
	min-height: 0px !important;
	max-height: none !important;
}

ytd-masthead#masthead {

