/* Header space for traffics buttons */
ytd-masthead#masthead {
	-webkit-app-region: drag; /* Drag and drop the windows around your Desktop*/
	padding-top: 12px !important;
}
div#guide-spacer,
ytd-page-manager#page-manager {
	margin-top: 68px !important;
}

/* Ads */
div#masthead-ad,
.ytp-ad-progress,
.video-ads.ytp-ad-module {
	display: none !important;
}

/** 
CINEMA MODE
**/
/* Wrapper */
.iv-drawer-header,
.iv-drawer-content {
	margin-top: 68px !important;
}
.fullVideo ytd-page-manager#page-manager {
	margin: 0 !important;
}
.fullVideo div#masthead-container {
	top: -68px;
}
.fullVideo div#player-theater-container {
	height: 100vh !important;
	min-height: 0px !important;
	max-height: none !important;
}
.fullVideo video.video-stream.html5-main-video,
.fullVideo .html5-video-container {
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
}
/* Player */
.ytp-big-mode .ytp-time-display {
	font-size: 150% !important;
}
.ytp-big-mode .ytp-scrubber-button {
	height: 20px !important;
}
.ytp-big-mode .ytp-scrubber-container {
	top: -8px !important;
}
.ytp-tooltip.ytp-bottom.ytp-preview {
	transform: translateY(-18px) !important;
}
.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel {
	width: 58px !important;
}
button.ytp-button.ytp-cards-button {
	transition: 0ms;
}
/* Cinema header */
.top h1 {
	font-weight: 400;
	color: var(--ytd-video-primary-info-renderer-title-color, var(--yt-spec-text-primary));
	font-family: var(--ytd-video-primary-info-renderer-title-font-family, inherit);
	transform: scale(-1) !important;
	font-size: 27px !important;
	margin: 0 1em !important;
	height: fit-content !important;
}
.top img {
	background: #272727;
	transform: scale(-1);
	border-radius: 100%;
	width: 48px;
	height: 48px;
	margin-right: 3em;
}
.ytp-gradient-bottom.top {
	transform: scale(-1);
	top: 0 !important;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 0.8em;
}
