.top h1 {
    transform: scale(-1) !important;
    font-size: 27px !important;
    margin: 00em 1em;
    height: 27px !important;
    padding-bottom: 11px;
}

.top img {
    transform: scale(-1);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin-right: 3em;
}

.ytp-gradient-bottom.top {
    transform: scale(-1);
    top: 0!important;
    display: flex;
    justify-content: flex-end;
}

div#masthead-ad {
    display: none !important;
}

.ytp-big-mode .ytp-time-display {
    font-size: 150% !important;
}

.ytp-big-mode .ytp-scrubber-button {
    height: 20px !important;
}

.ytp-big-mode .ytp-scrubber-container {
    top: -8px !important
}

.ytp-tooltip.ytp-bottom.ytp-preview {
    transform: translateY(-18px) !important;
}

.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel {
    width: 58px !important;
}

.ytp-ad-progress {
    display: none !important;
}

.video-ads.ytp-ad-module {
    display: none !important;
}

ytd-masthead#masthead {
    padding-top: 12px !important;
}

div#guide-spacer {
    margin-top: 68px !important;
}

ytd-page-manager#page-manager {
    margin-top: 68px !important;
}

.fullVideo ytd-page-manager#page-manager {
    margin: 0 !important;
}

.fullVideo #masthead-container {
    top: -68px;
    transition: 200ms
}

.fullVideo div#player-theater-container {
    height: 100vh !important;
    min-height: 0px !important;
    max-height: none !important;
}

